@import './main/reset.scss';
@import './main/vars.scss';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    background: #F7F7F7;
    color: $primary-text-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 121%;
    font-style: normal;
} 

img{
    max-width: 100%;
}
.contaiiner {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.subtitle {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin-top: 40px;
        span {
            font-family: 'Source Sans Pro', sans-serif;
            font-style: bold;
            font-weight: 700;
            font-size: 14px;
            line-height: 30px;
            color:#7FAD39;
        }

}


@import './components/categories.scss';
@import './components/slider.scss';
@import './components/top-featured.scss';
@import './components/best-values.scss';
