
.values-one__row  {
    display: flex;
}

.values-one__img {
    position: relative;
}

.values-one__text{
    position: absolute;
    display: flex;
    flex-direction: column;
}

.values-one__button {
    position: absolute;
}