
.values__one {
    display: flex;
    justify-content: space-between;

}

.values-one  {
    margin-top: 20px;
    display: flex;
    max-width: 337px;
    flex: 1 0 calc((100% - 40px)/3);
    max-width: calc((100% - 40px)/3);
}

.values-one__img {
    position: relative;
}

.values-one__text{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.values-one__item {
    max-width: 151px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: bold;
    font-weight: 900;
    font-size: 28px;
    padding: 67px 0 0 20px;
}

.values-one__discount {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 28px;
    max-width: 151px;
    padding: 0 0 0 20px;
}

.values-one__button {
    display: flex;
    padding: 18px 20px 19px 20px;
    max-width: 141px;
    margin-top: 30px;
    background-color: #2A2A2A;
    color: #FFFFFF;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    border: none;
    margin-left: 10px;
}
