.top-featured {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.feature__row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    flex: 1 0 calc((100% - 40px)/5);
    max-width: calc((100% - 40px)/5);
    padding: 15px;
    background: $white-color;
    border: 0.5px solid rgba(42, 42, 42, 0.15);
    box-sizing: border-box;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.06);
    margin-top: 20px;
    
    
}

.feature__img {
}

.feature-item__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.feature__sale {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.feature__discount {
    /*display: flex;
    align-items: center;*/
    background: #7FAD39;
    color: white;
    padding: 9px 7px 8px 7px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 12px;
    
}

.feature-item__stock {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: 'SemiBold';
    font-weight: 600;
    font-size: 12px;
    color: #A9A9A9;
}

.feature-item__text {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: 'Bold';
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
}

.feature-item__price {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: 'Bold';
    font-weight: 700;
    font-size: 16px;
    color: #7FAD39;
    line-height: 22px;
}

.feature-basket {
    padding: 27px 0 0 0;
}

.feature-basket__number {

    padding: 0 9px 0 9px;
}

.feature-basket__basket {
    padding: 0 0 0 88px;
}