include ../mixins/values.pug
h2.subtitle 
    span Offers
    | Best Values
section.values
    div.values__one
        +values({
            img:"./assets/imgs/daily-essentials.jpg",
            item: 'Daily Essentials',
            discount: '20% Off Everyday',
        })
        +values({
            img:"./assets/imgs/get-up-to.jpg",
            item: 'GET UP TO',
            discount: '30% OFF',
        })
        +values({
            img:"./assets/imgs/special-discount.jpg",
            item: 'Special Discount',
            discount: 'For All Items',
        })