include ../mixins/values.pug
h2.subtitle 
    span Offers
    | Best Values
section.values
    div.values__one
        +values({
            img:"./assets/imgs/daily-essentials.jpg",
            item: 'Daily Essentials',
            discount: '20% Off Everyday',
        })
        +values({
            img:"./assets/imgs/daily-essentials.jpg",
            item: 'Daily Essentials',
            discount: '20% Off Everyday',
        })
        +values({
            img:"./assets/imgs/daily-essentials.jpg",
            item: 'Daily Essentials',
            discount: '20% Off Everyday',
        })