include ../mixins/category-block.pug

h2.subtitle 
    span Shop By 
    | Categories
section.categories
    +category-block("./assets/imgs/category_1.png",'Vegetable & Fruits')
    +category-block("./assets/imgs/category_1.png",'Vegetable & Fruits')
    +category-block("./assets/imgs/category_1.png",'Vegetable & Fruits')
    +category-block("./assets/imgs/category_1.png",'Vegetable & Fruits')
    +category-block("./assets/imgs/category_1.png",'Vegetable & Fruits')
    +category-block("./assets/imgs/category_1.png",'Vegetable & Fruits')