include ../mixins/category-block.pug

h2.subtitle 
    span Shop By 
    | Categories
section.categories
    +category-block("./assets/imgs/apple.png",'Vegetable & Fruits')
    +category-block("./assets/imgs/shopping-cart.png",'Grocery & Staples')
    +category-block("./assets/imgs/dairy.png",'Dairy & Eggs')
    +category-block("./assets/imgs/beverages.png",'Beverages')
    +category-block("./assets/imgs/burger.png",'Snacks')
    +category-block("./assets/imgs/home-care.png",'Home Care')