include ../mixins/slider-item.pug

.slider
    .swiper
        .swiper-wrapper
            .swiper-slide 
                +slider-item({
                    img: "./assets/imgs/snacks.jpg",
                    sale: '10% OFF',
                    title: 'Buy More & Save More',
                    text: 'Nuts & Snacks'
                })
            .swiper-slide 
                +slider-item({
                    img: "./assets/imgs/snacks.jpg",
                    sale: '10% OFF',
                    title: 'Buy More & Save More',
                    text: 'Nuts & Snacks'
                })
            .swiper-slide 
                +slider-item({
                    img: "./assets/imgs/snacks.jpg",
                    sale: '10% OFF',
                    title: 'Buy More & Save More',
                    text: 'Nuts & Snacks'
                })