include ../mixins/feature.pug

h2.subtitle
    span For You
    | Top Featured Products
section.top-featured
    +feature({
        discount:'15%Off',
        favourite:"./assets/imgs/favourite.png",
        img: "./assets/imgs/peach.jpg",
        stock: 'Available(in stock)',
        text: 'Fresh organic apricot',
        price: '$12',
        minus: "./assets/imgs/minus.png",
        number: '1',
        plus: "./assets/imgs/plus.png",
        basket: "./assets/imgs/basket.png"
    })
    +feature({
        discount:'15%Off',
        favourite:"./assets/imgs/favourite.png",
        img: "./assets/imgs/cucumber.png",
        stock: 'Available(in stock)',
        text: 'Fresh organic apricot',
        price: '$12',
        minus: "./assets/imgs/minus.png",
        number: '1',
        plus: "./assets/imgs/plus.png",
        basket: "./assets/imgs/basket.png"
    })
    +feature({
        discount:'15%Off',
        favourite:"./assets/imgs/favourite.png",
        img: "./assets/imgs/hazelnuts.png",
        stock: 'Available(in stock)',
        text: 'Fresh organic apricot',
        price: '$12',
        minus: "./assets/imgs/minus.png",
        number: '1',
        plus: "./assets/imgs/plus.png",
        basket: "./assets/imgs/basket.png"

    })
    +feature({
        discount:'15%Off',
        favourite:"./assets/imgs/favourite.png",
        img: "./assets/imgs/broccoli.png",
        stock: 'Available(in stock)',
        text: 'Fresh organic apricot',
        price: '$12',
        minus: "./assets/imgs/minus.png",
        number: '1',
        plus: "./assets/imgs/plus.png",
        basket: "./assets/imgs/basket.png"

    })
    +feature({
        discount:'15%Off',
        favourite:"./assets/imgs/favourite.png",
        img: "./assets/imgs/quince.png",
        stock: 'Available(in stock)',
        text: 'Fresh organic apricot',
        price: '$12',
        minus: "./assets/imgs/minus.png",
        number: '1',
        plus: "./assets/imgs/plus.png",
        basket: "./assets/imgs/basket.png"

    })