mixin slider-item(args={})
    div.slider-item
        img(src=args.img, alt="item").slider-item__img
        div.slider-item__content
            span.slider-item__sale=args.sale
            span.slider-item__title=args.title
            span.slider-item__text=args.text
        button.slider-item__btn Shop now