mixin values(args={})
    div.values-one
        img(src=args.img, alt="values").values-one__img
        div.values-one__text  
            span.values-one__item=args.item
            span.values-one__discount=args.discount
            button.values-one__button SHOP NOW